.introducing {
  border-top: 1px solid var(--light-gray-color);
  padding-top: 130px;
  padding-bottom: 79px;

  &__descr {
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 46px;
    background-color: var(--grayish-color);

    @include mobile {
      padding: 15px;
    }
  }

  &__img {
    grid-column: 4 span;

    @include small-tablet {
      display: none;
    }
  }

  &__info {
    grid-column: 4 span;
    padding-left: 5px;

    @include small-tablet {
      grid-column: 8 span;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.25;
    color: var(--lime-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 23px;
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 47px;
    line-height: 1.1;
    color: var(--dark-color);

    @include mini-tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 25px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.33;
    color: var(--very-dark-color);

    @include mini-tablet {
      font-size: 15px;
    }
  }

  &__btn {
    border-radius: 5px;
    padding: 16px 18px 15px 19px;
    font-size: 15px;
    line-height: 1.33;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    color: var(--light-color);
    background-color: #17a550;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #14793c;
    }
  }

  @include mini-tablet {
    padding-top: 80px;
  }

  @include small-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
