<section class="blog">
  <div class="container">

    <h2 class="title blog__title">Latest from the Blog</h2>

    <ul class="list-reset blog__list grid">

      <li class="blog__item">

        <article class="news-article news-article--main">
          <img class="news-article__img" src="../img/article-1.jpg" alt="Grass">
          <div class="news-article__info">
            <h3 class="news-article__title news-article__title--main">
              <a class="news-article__link" href="#"> How to Prep Your Lawn in the Spring</a>
            </h3>
            <p class="news-article__subtitle">This is the blog description text. This is the blog description text. This
              is the blog description text.</p>
          </div>
        </article>

      </li>

      <li class="blog__item blog__item--side">
        <article class="news-article">
          <img class="news-article__img" src="../img/article-2.jpg" alt="Hedge Trimming">
          <h3 class="news-article__title news-article__title--side">
            <a class="news-article__link" href="#">Secrets to Know About Hedge Trimming</a>
          </h3>
        </article>

      </li>

      <li class="blog__item blog__item--side">
        <article class="news-article">
          <img class="news-article__img" src="../img/article-3.jpg" alt="Dying Tree">
          <h3 class="news-article__title news-article__title--side">
            <a class="news-article__link" href="#">What to Do With a Dying Tree</a>
          </h3>
        </article>

      </li>

      <li class="blog__item blog__item--side">
        <article class="news-article">
          <img class="news-article__img" src="../img/article-4.jpg" alt="Plant Garden">

          <h3 class="news-article__title news-article__title--side">
            <a class="news-article__link" href="#">Which Flowers Should You Plant Garden</a>
          </h3>
        </article>
      </li>


    </ul>

    <a class="blog__link" href="#">View All Blog Articles</a>

  </div>
</section>
