<header class="header">

  <div class="container header__container">

    <a href="#" class="logo">
      <img class="header__logo" src="../img/logo.png" alt="Site logo" width="155">
    </a>

    <nav class="nav">

      <ul class="nav__list list-reset">

        <li class="nav__item">
          <a href="#" class="nav__link">Pages</a>
        </li>

        <li class="nav__item nav__item--categories">
          <a href="#" class="nav__link">Categories</a>
        </li>

        <li class="nav__item nav__item--blog">
          <a href="#" class="nav__link">Blog</a>
        </li>

        <li class="nav__item nav__item--reviews">
          <a href="#" class="nav__link">Reviews</a>
        </li>

        <li class="nav__item nav__item--cart">
          <a href="#" class="nav__link">Buying Guides</a>
        </li>

      </ul>

    </nav>

    <button class="header__btn btn-reset">Sign up</button>

    <button class="burger btn-reset" aria-label="Открыть меню" data-burger>
      <span class="burger__line"></span>
    </button>

  </div>

</header>
