<section class="introducing">
  <div class="container introducing__container">

    <div class="main-swiper swiper">
      <div class="swiper-wrapper ">

        <div class="swiper-slide" data-swiper-autoplay="2000">

          <div class="introducing__descr grid">

            <div class="introducing__img">
              <img class="introducing__imgage" src="../img/introducing.jpg" alt="Main image" width="500">
            </div>

            <div class="introducing__info">

              <p class="introducing__subtitle">
                Introducing Affiliate Template for Webflow
              </p>

              <h1 class="introducing__title">Easy-to-use Template for building Affiliate Sites</h1>

              <p class="introducing__text">
                <b>Affiliate</b> is a Webflow template made for entrepreneurs who want a professional and polished site
                ready
                to
                start
                and grow their affiliate marketing business in any niche.
              </p>

              <button class="btn-reset introducing__btn">Buy this Template</button>

            </div>

          </div>

        </div>

        <div class="swiper-slide" data-swiper-autoplay="2000">

          <div class="introducing__descr grid">

            <div class="introducing__img">
              <img class="introducing__imgage" src="../img/introducing.jpg" alt="Main image" width="500">
            </div>

            <div class="introducing__info">

              <p class="introducing__subtitle">
                Introducing Affiliate Template for Webflow
              </p>

              <h1 class="introducing__title">Easy-to-use Template for building Affiliate Sites</h1>

              <p class="introducing__text">
                <b>Affiliate</b> is a Webflow template made for entrepreneurs who want a professional and polished site
                ready
                to
                start
                and grow their affiliate marketing business in any niche.
              </p>

              <button class="btn-reset introducing__btn">Buy this Template</button>

            </div>

          </div>

        </div>

        <div class="swiper-slide" data-swiper-autoplay="2000">

          <div class="introducing__descr grid">

            <div class="introducing__img">
              <img class="introducing__imgage" src="../img/introducing.jpg" alt="Main image" width="500">
            </div>

            <div class="introducing__info">

              <p class="introducing__subtitle">
                Introducing Affiliate Template for Webflow
              </p>

              <h1 class="introducing__title">Easy-to-use Template for building Affiliate Sites</h1>

              <p class="introducing__text">
                <b>Affiliate</b> is a Webflow template made for entrepreneurs who want a professional and polished site
                ready
                to
                start
                and grow their affiliate marketing business in any niche.
              </p>

              <button class="btn-reset introducing__btn">Buy this Template</button>

            </div>

          </div>

        </div>

      </div>

      <div class="swiper-scrollbar main-swiper__scroll"></div>
      <button class="btn-reset main-swiper__btn main-swiper__btn--prev swiper-button-prev"></button>
      <button class="btn-reset main-swiper__btn main-swiper__btn--next swiper-button-next"></button>

    </div>

  </div>
</section>
