<section class="products">
  <div class="container">

    <div class="products__best">
      <p class="products__best-title">View our list of the best products in lawncare.</p>
      <a class="products__best-link" href="#">See the list</a>
    </div>

    <h2 class="title products__title">Latest Product Reviews</h2>

    <ul class="list-reset products__list">

      <li class="products__item">
        <span class="products__category">Lawns</span>
        <img class="products__img" src="../img/product-1.jpg" alt="Products 1 image">
        <div class="products__info">
          <h3 class="products__subtitle">Lawnmower Xtreme</h3>
          <p class="products__descr">This is the Review Snippet. This is the Review Snippet. This is the Review Snippet.
            This is the Review Snippet.</p>
        </div>
      </li>

      <li class="products__item">
        <span class="products__category">Garden</span>
        <img class="products__img" src="../img/product-2.jpg" alt="Products 2 image">
        <div class="products__info">
          <h3 class="products__subtitle">Ultra Grow Fertilizer</h3>
          <p class="products__descr">This is the Review Snippet. This is the Review Snippet. This is the Review Snippet.
            This is the Review Snippet.</p>
        </div>
      </li>

      <li class="products__item">
        <span class="products__category">Hedges</span>
        <img class="products__img" src="../img/product-3.jpg" alt="Products 3 image">
        <div class="products__info">
          <h3 class="products__subtitle">Hedge Clippers</h3>
          <p class="products__descr">This is the Review Snippet. This is the Review Snippet. This is the Review Snippet.
            This is the Review Snippet.</p>
        </div>

      </li>

    </ul>

    <a class="products__reviews" href="#">View all Product Reviews</a>

  </div>
</section>
