<section class="submit">
  <div class="container submit__container">

    <div class="submit__info grid">

      <div class="submit__left">
        <img class="submit__pic" src="../img/submit.png" alt="">
      </div>

      <div class="submit__right">
        <h2 class="submit__title">Newsletter Signup</h2>

        <p class="submit__text">
          Be the first to receive updates on articles, product reviews, courses, and more!
        </p>

        <form class="submit__form" action="#">
          <input class="submit__input" type="text" placeholder="Your email" required>
          <button class="btn-reset submit__btn">Submit</button>
          <a class="submit__link" href="#">Privacy Policy</a>
        </form>
      </div>

    </div>

  </div>
</section>
